<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joanbempong.android" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products" >
        </activity>
        <activity
            android:name=".HueBridgeSearchActivity"
            android:label="@string/title_activity_hue_bridge_search" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name=".HuePushLinkActivity"
            android:label="@string/title_activity_hue_push_link" >
        </activity>
        <activity
            android:name=".MoreLightsActivity"
            android:label="@string/title_activity_more_lights" >
        </activity>
        <activity
            android:name=".ConfigureLightsActivity"
            android:label="@string/title_activity_configure_lights" >
        </activity>
        <activity
            android:name=".HueDefaultValuesActivity"
            android:label="@string/title_activity_hue_default_values" >
        </activity>
        <activity
            android:name=".ContactListDefaultActivity"
            android:label="@string/title_activity_contact_list_default" >
        </activity>
        <activity
            android:name=".CompletedSetupActivity"
            android:label="@string/title_activity_completed_setup" >
        </activity>
        <activity
            android:name=".LightsActivity"
            android:label="@string/title_activity_lights" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".MyContactsActivity"
            android:label="@string/title_activity_my_contacts" >
        </activity>
        <activity
            android:name=".AddContactActivity"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name=".EditContactActivity"
            android:label="@string/title_activity_edit_contact" >
        </activity>
        <activity
            android:name=".MyLightsActivity"
            android:label="@string/title_activity_my_lights" >
        </activity>
        <activity
            android:name=".AddLightSetupActivity"
            android:label="@string/title_activity_add_light_setup" >
        </activity>
        <activity
            android:name=".OnCallActivity"
            android:label="@string/title_activity_on_call" >
        </activity>
        <activity
            android:name=".SetHueDefaultValuesActivity"
            android:label="@string/title_activity_set_hue_default_values" >
        </activity>
    </application>

</manifest>
