<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joanbempong.ace_android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Welcome"
            android:label="Welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Products"
            android:label="@string/title_activity_products" >
        </activity>
        <activity
            android:name=".HueRegister"
            android:label="@string/title_activity_hue_register" >
        </activity>
        <activity
            android:name=".HueRegisterError"
            android:label="@string/title_activity_hue_register_error" >
        </activity>
        <activity
            android:name=".MoreLights"
            android:label="@string/title_activity_more_lights" >
        </activity>
        <activity
            android:name=".ConfigureLights"
            android:label="@string/title_activity_configure_lights" >
        </activity>
        <activity
            android:name=".FlashCheck"
            android:label="@string/title_activity_flash_check" >
        </activity>
        <activity
            android:name=".ColorCheck"
            android:label="@string/title_activity_color_check" >
        </activity>
        <activity
            android:name=".ColorResult"
            android:label="@string/title_activity_color_result" >
        </activity>
    </application>

</manifest>
